<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83821217953-mke7kmcjbhe8ss1r08bc7ht4e95hih7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83821217953-mke7kmcjbhe8ss1r08bc7ht4e95hih7r</string>
	<key>API_KEY</key>
	<string>AIzaSyCBOz68NYmSZO5EZAP08PsUyDHjtJ_jj9c</string>
	<key>GCM_SENDER_ID</key>
	<string>83821217953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodbankApp</string>
	<key>PROJECT_ID</key>
	<string>bloodbankppa-cd626</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbankppa-cd626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83821217953:ios:8dd0a1ff8cd1699a7e08e0</string>
</dict>
</plist>